node_modules
dist
.cache
.env
old
**/ErrorLogs/**
z-Temporary
configure_environment.sh
dump.rdb
.jshintrc
infrastructure/scripts/1-backend/realTeleportTheHiddenMonkey.sh
infrastructure/scripts/1-backend/setUpTigers.sh
infrastructure/scripts/1-backend/setUpTigers.production.sh
infrastructure/scripts/1-backend/plantTree.sh
infrastructure/scripts/1-backend/plantTree.production.sh
1-backend/giraffeDeploy/giraffe/getDoPostInitializationAction/lick_file.json
infrastructure/scripts/1-backend/updateAndTransport/0sendKingdom.sh
infrastructure/scripts/1-backend/NpmUpdateAndTransport/0sendKingdom.sh

infrastructure/scripts/1-backend/giraffeLickLeaf/setup/plantTree.sh
infrastructure/scripts/1-backend/giraffeLickLeaf/setup/plantTree.production.sh
infrastructure/scripts/1-backend/baseServerSetup/setUpTigers.sh
infrastructure/scripts/1-backend/rareBaseServerSetup/setUpTigers.sh
infrastructure/scripts/1-backend/baseServerSetup/setUpTigers.production.sh
infrastructure/scripts/1-backend/rareBaseServerSetup/setUpTigers.production.sh
infrastructure/scripts/1-backend/NpmUpdateAndTransport/0sendKingdom.sh

infrastructure/scripts/x-universal/megaActions/dbOperations/getUserData/userData.txt
infrastructure/scripts/x-universal/megaActions/dbOperations/getTransactions/transactions.txt
infrastructure/scripts/x-universal/megaActions/dbOperations/coolScripts
tests/drqTests/index.js
infrastructure/scripts/x-universal/megaActions/dbOperationOnAll/endGameOperations/standardReport.json
infrastructure/scripts/x-universal/megaActions/dbOperationOnAll/endGameOperations/loginTokensReport.json


4-alien/experiments/truffleTest1/MetaCoin/build/contracts
4-alien/fintechCoin/build